<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <div class="navbar-footer text-center">
      <span class="navbar-text" style="margin-right:0;">&copy; <%= Time.new.year %></span> <a class="navbar-text" target="blank" href="http://outofsomething.com">Out of Something, LLC</a>
    </div>
    <div class="navbar-footer navbar-right text-center">
      <span class="navbar-text" style="margin-right:0;"><i class="glyphicon glyphicon-glass"></i> Enjoy your box responsibly</span>
    </div>
  </div><!-- /.container-fluid -->
</nav>
