    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 text-center">
        <a title="Box Wino" href="/"><img alt="Box Wino: For the love of the box wine" id="brand-logo" src="/images/logo.jpg" class="img-responsive" /></a>
      </div>
    </div>

    <div class="clearfix">  
      <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
        <nav class="nav navbar navbar-header">
          <ul class="nav navbar-nav">
            <li><a title="Why Box Wine?" href="/why">Why Box Wine?</a></li>
            <li><a title="What Box Wines are the Best?" href="/wines">The Best Boxes</a></li>
            <li><a title="Where Can I Buy Box Wine?" href="/where">Where to Buy</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <hr />
