<div class="row">
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <a href="/"><img src="/images/logo.jpg" class="img-responsive" style="margin-left:auto;margin-right:auto;" /></a>
    <hr />
  </div>
  <div class="col-sm-6 col-sm-offset-3 text-center">

    <h1 class="bottom-buffer">Why Box Wine?</h1>

    <div class="description">
      <h2>
        <% 4.times do %>
        <i class="glyphicon glyphicon-glass"></i>
        <% end %>
      </h2>

      <p>A box of wine typically holds 3 liters, equal to <em>four</em> bottles of wine.</p>
      <p>Going to a BYOB restaurant with a $10 corkage fee? That works out to...</p>

<code><pre>
(boxes * corkage fee) / (bottles * corkage fee) =
(1 * 10) / (4 * 10) = 25%
</pre></code>
      <p>...a savings of 75%!</p>
    </div>

    <div class="description">
      <h2>
        <% 7.times do %>
        <i class="glyphicon glyphicon-tree-deciduous"></i>
        <% end %>
      </h2>

      <p>According to <a target="blank" href="http://www.botabox.com/Benefits/FAQ/">Bota Box</a>, box wines "create 85% less landfill waste than traditional glass packages".</p>
      <p>That's roughly 7x better for the environment!</p>
    </div>

    <div class="description">
      <h2>
        <% 10.times do %>
        <i class="glyphicon glyphicon-time"></i>
        <% end %>
      </h2>

      <p>Box wine lasts over a month after opening because no air gets into the bladder as you drink the wine.</p>
      <p>That's 15x longer than a typical bottle would last, or 10x longer if using a bottle pump.</p>
    </div>

    <hr />

    <h1>But wait...</h1>

    <div class="">
      <h3>Isn't box wine just for college kids with no money?</h3>

      <p>Not all box wine is bad, just like not all bottled wine is good.</p>
      <p>Would a hobbyist photographer spend $10,000 on a camera? Probably not. Or a commuter $100,000 on a Maserati? Probably not.</p>
      <p>If you're not going for your master sommelier ranking, why spend $15 or $20 for a bottle of wine that tastes just as good as a box four times the size that costs the same?</p>
    </div>

    <div class="">
      <h3>Isn't it embarassing to buy a box of wine?</h3>

      <p>No!</p>
      <p>Many people have even started bringing their boxes to BYOB restaurants or to parties.</p>
      <p>What <em>is</em> embarassing is spending a lot of money on a bottle that doesn't taste that good, when you could spend a quarter of that for wine that tastes good!</p>
    </div>

    <div class="">
      <h3>Isn't good box wine hard to find?</h3>

      <p>True, there aren't a lot of box wine shops. Nonetheless, you can find decent boxes in local grocery stores, many liquor stores, or even online.</p>
      <p>Stay tuned for a list of our favorites boxes, and where to buy them!</p>
    </div>

    <!--
    <hr />

    <h1>Some of our favorites</h1>

    <div class="row">
      <div class="col-sm-6">
        <h3>Reds</h3>
      </div>
      <div class="col-sm-6">
        <h3>Whites</h3>
      </div>

    </div>
    -->

  </div>
</div>
