<div class="row bottom-buffer">
  <div class="col-sm-10 col-sm-offset-1">
    <div id="welcome-message">
      <% unless welcome_message.title.empty? %>
      <h1><%= welcome_message.title %></h1>
      <% end %>

      <div>
        <%= welcome_message.body %>
      </div>
    </div>

    <div class="description" id="continue-reading">
      <p><a href="/why">Read more about why box wine is better than bottled wine.</a></p>
      <p><a href="/wines">Check out a few of the best boxes.</a></p>
      <p><a href="/where">Go find some!</a></p>
    </div>
  </div>
</div>
