<div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center">

    <h1 class="bottom-buffer">Why Box Wine?</h1>

    <% why_box_wine.each do |why| %>

    <div class="description">
      <% why.tags.grep(/(glyphicon-[\w_ -]+)-(\d+)/i) do |glyph| %>
      <h2>
        <% "#{$2}".to_i.times do %>
        <i class="glyphicon <%= "#{$1}" %>"></i>
        <% end %>
      </h2>
      <% end %>

      <%= why.body %>
    </div>

    <% end %>

    <hr />

    <h1>But wait...</h1>

    <div class="">
      <h3>Isn't box wine just for college kids with no money?</h3>

      <p>Not all box wine is bad, just like not all bottled wine is good.</p>
      <p>Would a hobbyist photographer spend $10,000 on a camera? Probably not. Or a commuter $100,000 on a Maserati? Probably not.</p>
      <p>If you're not going for your master sommelier ranking, why spend $15 or $20 for a bottle of wine that tastes just as good as a box four times the size that costs the same?</p>
    </div>

    <div class="">
      <h3>Isn't it embarassing to buy a box of wine?</h3>

      <p>No!</p>
      <p>Many people have even started bringing their boxes to BYOB restaurants or to parties.</p>
      <p>What <em>is</em> embarassing is spending a lot of money on a bottle that doesn't taste that good, when you could spend a quarter of that for wine that tastes good!</p>
    </div>

    <div class="">
      <h3>Isn't good box wine hard to find?</h3>

      <p>True, there aren't a lot of box wine shops. Nonetheless, you can find decent boxes in local grocery stores, many liquor stores, or even online.</p>
    </div>
  </div>
</div>
