<div class="row">
  <div class="text-center">
  <h1>The Best Boxes</h1>
  <h2 class="sr-only">What box wine should I buy?</h2>

  <% wine_features.each_with_index do |wine, index| %>
    <%= erb :feature, locals: { wine: wine } %>
  <% end unless wine_features.nil? %>
  </div>
</div>
