/** Bootstrap **/
@bootstrap-path: "/assets/css/vendor/bootstrap/";
@import ~"@{bootstrap-path}bootstrap.less";
@icon-font-path: "/fonts/";
/** End bootstrap **/

body {
  //padding-bottom: 70px;
}
.bottom-buffer {
  margin-bottom: 30px;
}
.top-buffer {
  margin-top: 30px;
}
.nav.navbar.navbar-header {
  width: 100% !important;
  margin-bottom: 0;
  padding-bottom:0;
}

#brand-logo {
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.description {
  h2 {
    margin-top: 50px;
  }
  p {
    font-size: 1.5em;
  }
}

@media (max-width: 767px) {
  .navbar-footer {
    padding: 7.5px;
    &.navbar-right {
      padding-top: 0px;
    }
  }

  .nav ul.nav li {
    display: inline;
    a {
      display: inline-block; 
      padding: 10px 5px;
    }
  }
}

@media (min-width: 768px){
  .navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
  }
}  

.navbar-static-bottom {
  margin-bottom: 0;
}
